<%- include('./partials/header') %>


    <!-- Page Header-->
    <header class="masthead"
        style="background-image: url('https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg'); background-attachment: fixed;">
        <div class="container position-relative px-4 px-lg-5 ">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading baslik">
                        <h1 style="color: #4AA96C;">Duhan Bayrak</h1>
                        <hr>
                        <span style="color: #4AA96C;"class="subheading">-Frontend Developer-</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %> 
            <% var firstBlog=blogs.slice(0,5) %>
                <% firstBlog.forEach(e=> { %>
                    <div class="col-lg-3 mx-auto">
                        <img class="img-thumbnail" src="<%= e.comImage %> ">
                    </div>
                    <div class="col-lg-9 col-xl-7">
                        <div class="post-preview">

                            <a href="/blog/<%= e._id %>">
                                <h3 class="post-title">
                                    <%= e.blogTitle %>
                                </h3>
                                <h3 class="post-subtitle">
                                    <%= e.comSentence %>
                                </h3>
                            </a>
                            
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Duhan Bayrak</a>
                                <%= e.date.toLocaleDateString('tr-TU',options) %>
                            </p>

                        </div>
                        <hr class="my-4" />
                    </div>
                    <% }) %>
                        <div class="d-flex justify-content-end mb-4"><a class="btn btn-outline-success text-uppercase"
                                href="/allBlogs">Tüm Yazılar→</a></div>
        </div>

    </div>
    <%- include('./partials/footer') %>
